In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

In [5]:
import os
import tarfile

# Define the filename and base directory
fname = "matched_beer_data.tar.gz"
base_directory = "src/data"

# Create the extraction folder name by appending "data_" to the base file name (without the extension)
base_name = os.path.splitext(os.path.splitext(fname)[0])[0]  # Remove both .tar and .gz
extract_folder = os.path.join(base_directory, f"data_{base_name}")

# Create the folder if it does not exist
os.makedirs(extract_folder, exist_ok=True)

# Check the file extension and open the tar file accordingly
if fname.endswith("tar.gz"):
    with tarfile.open(fname, "r:gz") as tar:
        tar.extractall(path=extract_folder)  # Extract all contents to the specified folder
        print(f"Extracted all contents from {fname} to {extract_folder}")
elif fname.endswith("tar"):
    with tarfile.open(fname, "r:") as tar:
        tar.extractall(path=extract_folder)
        print(f"Extracted all contents from {fname} to {extract_folder}")
else:
    print("The file is not a recognized .tar.gz or .tar file.")

Extracted all contents from matched_beer_data.tar.gz to src/data\data_matched_beer_data

In [24]:
import os
import tarfile

# Define the filename and base directory
fname = "matched_beer_data.tar.gz"
base_directory = "src/data"

# Create the extraction folder name by appending "data_" to the base file name (without the extension)
base_name = os.path.splitext(os.path.splitext(fname)[0])[0]  # Remove both .tar and .gz
extract_folder = os.path.join(base_directory, f"data_{base_name}")

# Create the folder if it does not exist
os.makedirs(extract_folder, exist_ok=True)

# Check the file extension and open the tar file accordingly
if fname.endswith("tar.gz"):
    with tarfile.open(fname, "r:gz") as tar:
        tar.extractall(path=extract_folder)  # Extract all contents to the specified folder
        print(f"Extracted all contents from {fname} to {extract_folder}")
elif fname.endswith("tar"):
    with tarfile.open(fname, "r:") as tar:
        tar.extractall(path=extract_folder)
        print(f"Extracted all contents from {fname} to {extract_folder}")
else:
    print("The file is not a recognized .tar.gz or .tar file.")

Extracted all contents from matched_beer_data.tar.gz to src/data\data_matched_beer_data

In [13]:
beers = pd.read_csv("src/data/data_matched_beer_data/beers.csv")
beers.head()

C:\Users\tomra\AppData\Local\Temp\ipykernel_23812\1941995547.py:1: DtypeWarning: Columns (0,1,2,3,4,5,8,10,11,12,13,15,16,17,18,19,20,23,25,26,27,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  beers = pd.read_csv("src/data/data_matched_beer_data/beers.csv")

,ba,ba.1,ba.2,ba.3,ba.4,ba.5,ba.6,ba.7,ba.8,ba.9,...,rb.7,rb.8,rb.9,rb.10,rb.11,rb.12,rb.13,rb.14,scores,scores.1
0,abv,avg,avg_computed,avg_matched_valid_ratings,ba_score,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,...,brewery_id,brewery_name,nbr_matched_valid_ratings,nbr_ratings,overall_score,style,style_score,zscore,diff,sim
1,4.8,3.45,3.439866666666666,3.504067796610169,80.0,19827,Legbiter,Legbiter,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,89,89,23.0,Golden Ale/Blond Ale,27.0,-0.69830388113311,1.0,1.0
2,6.0,3.86,3.88875,3.768333333333333,NaN,20841,St. Patrick's Ale,Patricks Ale St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,11,11,52.0,Irish Ale,79.0,0.005754083235128498,0.527140514545712,1.0
3,4.2,3.56,3.55609375,3.580416666666667,82.0,20842,St. Patrick's Best,Patricks Best St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,74,74,26.0,Bitter,25.0,-0.8621191741786616,0.527140514545712,1.0
4,4.8,3.96,3.96,3.96,NaN,22659,St. Patrick's Gold,Patricks Gold St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,4,4,NaN,Amber Ale,NaN,-0.7584908630826819,0.527140514545712,1.0

In [ ]:
#What information can help us answer the question : are newcommers welcomed in the beer market?
# 1. The number of breweries that have been established in the last 5 years +list of these breweries
# 2. The number of customer reviews for each of these breweries, which indicates the popularity of the brewery.
# 3. Average rating of the beers from these breweries, which indicates the quality of the beer.
# 4. A graph showing the number of total reviews with time to see if the number of reviews is increasing or decreasing.

#what information can help us answer the question : parameters : "Volume_Produced:" ; "Total_Sales:" ; "Quality_Score:"

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45641 entries, 0 to 45640
Data columns (total 33 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ba        45641 non-null  object
 1   ba.1      40286 non-null  object
 2   ba.2      40286 non-null  object
 3   ba.3      28273 non-null  object
 4   ba.4      10500 non-null  object
 5   ba.5      45641 non-null  object
 6   ba.6      45641 non-null  object
 7   ba.7      45641 non-null  object
 8   ba.8      45641 non-null  object
 9   ba.9      45641 non-null  object
 10  ba.10     728 non-null    object
 11  ba.11     45641 non-null  object
 12  ba.12     45641 non-null  object
 13  ba.13     45641 non-null  object
 14  ba.14     45641 non-null  object
 15  ba.15     40286 non-null  object
 16  rb        45641 non-null  object
 17  rb.1      42156 non-null  object
 18  rb.2      42229 non-null  object
 19  rb.3      42229 non-null  object
 20  rb.4      45641 non-null  object
 21  rb.5      45641 non-null  object
 22  rb.6      45641 non-null  object
 23  rb.7      45641 non-null  object
 24  rb.8      45641 non-null  object
 25  rb.9      45641 non-null  object
 26  rb.10     45641 non-null  object
 27  rb.11     15699 non-null  object
 28  rb.12     45641 non-null  object
 29  rb.13     15699 non-null  object
 30  rb.14     42229 non-null  object
 31  scores    45641 non-null  object
 32  scores.1  45641 non-null  object
dtypes: object(33)
memory usage: 11.5+ MB

In [9]:
# Group the data by brewery and count the number of reviews for each brewery
brewery_reviews = data.groupby('brewery_name')['nbr_reviews'].sum().reset_index()

# Sort the data by the number of reviews in descending order
brewery_reviews = brewery_reviews.sort_values(by='nbr_reviews', ascending=False)

# Plot the data
plt.figure(figsize=(15, 8))
plt.bar(brewery_reviews['brewery_name'], brewery_reviews['nbr_reviews'])
plt.xlabel('Brewery Name')
plt.ylabel('Number of Reviews')
plt.title('Number of Beer Reviews for Each Brewery')
plt.xticks(rotation=90)
plt.show()

KeyError: 'brewery_name'

In [20]:
from datetime import datetime

def convert_timestamp_to_date(timestamp):
    """
    Convert a Unix timestamp to a human-readable date format.

    Args:
        timestamp (int): Unix timestamp.

    Returns:
        str: Date in 'YYYY-MM-DD HH:MM:SS' format.
    """
    return datetime.fromtimestamp(timestamp).strftime('%Y-%m-%d %H:%M:%S')

# Example usage
example_timestamp = 1322564400
print("Readable date:", convert_timestamp_to_date(example_timestamp))

Readable date: 2011-11-29 12:00:00

In [ ]:
#does price correlate with quality and rating?

In [11]:
data.head()

,ba,ba.1,ba.2,ba.3,ba.4,ba.5,ba.6,ba.7,ba.8,ba.9,...,rb.7,rb.8,rb.9,rb.10,rb.11,rb.12,rb.13,rb.14,scores,scores.1
0,abv,avg,avg_computed,avg_matched_valid_ratings,ba_score,beer_id,beer_name,beer_wout_brewery_name,brewery_id,brewery_name,...,brewery_id,brewery_name,nbr_matched_valid_ratings,nbr_ratings,overall_score,style,style_score,zscore,diff,sim
1,4.8,3.45,3.439866666666666,3.504067796610169,80.0,19827,Legbiter,Legbiter,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,89,89,23.0,Golden Ale/Blond Ale,27.0,-0.69830388113311,1.0,1.0
2,6.0,3.86,3.88875,3.768333333333333,NaN,20841,St. Patrick's Ale,Patricks Ale St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,11,11,52.0,Irish Ale,79.0,0.005754083235128498,0.527140514545712,1.0
3,4.2,3.56,3.55609375,3.580416666666667,82.0,20842,St. Patrick's Best,Patricks Best St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,74,74,26.0,Bitter,25.0,-0.8621191741786616,0.527140514545712,1.0
4,4.8,3.96,3.96,3.96,NaN,22659,St. Patrick's Gold,Patricks Gold St,10093,Strangford Lough Brewing Company Ltd,...,4959,Strangford Lough,4,4,NaN,Amber Ale,NaN,-0.7584908630826819,0.527140514545712,1.0

In [17]:
ratings = pd.read_csv("src/data/data_matched_beer_data/ratings.csv")
ratings.head()

C:\Users\tomra\AppData\Local\Temp\ipykernel_23812\3308323244.py:1: DtypeWarning: Columns (0,1,2,3,5,7,8,9,10,11,13,17,18,19,20,22,24,25,26,27,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  ratings = pd.read_csv("src/data/data_matched_beer_data/ratings.csv")

,ba,ba.1,ba.2,ba.3,ba.4,ba.5,ba.6,ba.7,ba.8,ba.9,...,rb.6,rb.7,rb.8,rb.9,rb.10,rb.11,rb.12,rb.13,rb.14,rb.15
0,abv,appearance,aroma,beer_id,beer_name,brewery_id,brewery_name,date,overall,palate,...,brewery_name,date,overall,palate,rating,style,taste,text,user_id,user_name
1,11.3,4.5,4.5,645,Trappistes Rochefort 10,207,Brasserie de Rochefort,1324810800,5.0,4.5,...,Brasserie Rochefort,1387710000,19.0,4.0,4.6,Abt/Quadrupel,9.0,a) Geruch malzig-schwer-sÃ¼Ã. Riecht schon ...,83106,Erzengel
2,5.0,NaN,NaN,28191,Myanmar Lager Beer,9369,Myanmar Brewery and Distillery,1322650800,NaN,NaN,...,Myanmar Brewery and Distillery,1322564400,6.0,2.0,1.7,Pale Lager,4.0,"Can. Weak and watery, not the best beer of the...",91324,visionthing
3,5.0,3.5,3.5,57911,Cantillon Tyrnilambic Baie D’Argousier Lambic,388,Brasserie Cantillon,1344074400,4.0,4.0,...,Cantillon,1353582000,17.0,4.0,4.1,Lambic Style - Fruit,8.0,"Bottle @ One Pint Pub, Helsinki. Originally ra...",98624,tiong
4,5.0,4.0,3.5,57913,Cantillon Pikkulinnun Viskilambic,388,Brasserie Cantillon,1344074400,4.0,4.0,...,Cantillon,1416222000,16.0,4.0,4.1,Lambic Style - Unblended,9.0,"Draught @Â Pikkulintu, Helsinki, Finland. A pr...",98624,tiong

In [21]:
#To do now : 1. number of reviews with time
            #2. average grade evolution with time 

#Part 1 : Number of reviews with time

# Convert the 'timestamp' column to a human-readable date format
ratings['date_converted_to_classic'] = ratings['date'].apply(convert_timestamp_to_date)

KeyError: 'date'

In [106]:
#access to datasets 
import os
import tarfile

    #0. info about datasets : 
    # 0.1. beers.csv: Contains information about the beers, such as the name, style, and brewery.
        # 0.2. breweries.csv: Contains information about the breweries, such as the name and location.
        # 0.3. reviews.csv: Contains information about the reviews, such as the beer ID, user ID, and rating.
        # 0.4. ratings.csv: Contains information about the ratings, such as the beer ID, user ID, and rating.
        # 0.5. users.csv: Contains information about the users, such as the username and age.

import os
import tarfile

# Define the list of filenames to be extracted
filenames = ["matched_beer_data.tar.gz", "BeerAdvocate.tar.gz", "RateBeer.tar.gz"]
base_directory = "src/data"

# Loop through each filename in the list
for fname in filenames:
    # Create the extraction folder named data_{base_name}
    base_name = os.path.splitext(os.path.splitext(fname)[0])[0]  # Remove both .tar and .gz
    extract_folder = os.path.join(base_directory, f"data_{base_name}")
    
    # Create the folder if it does not exist
    os.makedirs(extract_folder, exist_ok=True)
    
    # Check the file extension and open the tar file accordingly
    if fname.endswith("tar.gz"):
        with tarfile.open(fname, "r:gz") as tar:
            tar.extractall(path=extract_folder)  
            print(f"Extracted all contents from {fname} to {extract_folder}")
    elif fname.endswith("tar"):
        with tarfile.open(fname, "r:") as tar:
            tar.extractall(path=extract_folder)
            print(f"Extracted all contents from {fname} to {extract_folder}")
    else:
        print(f"The file {fname} is not a recognized .tar.gz or .tar file.")



#3_ open data in pandas dataframe : 
    #3.1
ba_beers = pd.read_csv("src/data/data_BeerAdvocate/beers.csv")
ba_breweries = pd.read_csv("src/data/data_BeerAdvocate/breweries.csv")
ba_users = pd.read_csv("src/data/data_BeerAdvocate/users.csv")

    #3.2
rb_beers = pd.read_csv("src/data/data_RateBeer/beers.csv")
rb_breweries = pd.read_csv("src/data/data_RateBeer/breweries.csv")
rb_users = pd.read_csv("src/data/data_RateBeer/users.csv")

    #3.3 : we will mostly use this files, since they have fusionned the data from the ratebeer and beeradvocate datasets
matched_beers = pd.read_csv("src/data/data_matched_beer_data/beers.csv", header=[0, 1])
matched_breweries = pd.read_csv("src/data/data_matched_beer_data/breweries.csv", header=[0, 1])
matched_ratings = pd.read_csv("src/data/data_matched_beer_data/ratings.csv", header=[0, 1])
matched_users_approx = pd.read_csv("src/data/data_matched_beer_data/users_approx.csv", header=[0, 1])
matched_users = pd.read_csv("src/data/data_matched_beer_data/users.csv", header=[0, 1])
    #3.3.1 : flatten the columns for easier access
matched_beers.columns = ['_'.join(col).strip() for col in matched_beers.columns.values]
matched_breweries.columns = ['_'.join(col).strip() for col in matched_breweries.columns.values]

Extracted all contents from matched_beer_data.tar.gz to src/data\data_matched_beer_data
Extracted all contents from BeerAdvocate.tar.gz to src/data\data_BeerAdvocate
Extracted all contents from RateBeer.tar.gz to src/data\data_RateBeer

In [ ]:
#Data exploration : 

    #1. Most reviewed brewery.
    #2. Most reviewed beer.
    #3. Most reviewers per country (in percentage)




#1. Most reviewed brewery and average grade : 
matched_beers['rb_and_ba_total_valid_reviews'] = matched_beers['rb_nbr_matched_valid_ratings'] + matched_beers['ba_nbr_matched_valid_ratings']
matched_beers['rb_and_ba_total_matched_valid_ratings'] = (matched_beers['rb_avg_matched_valid_ratings']*matched_beers['rb_nbr_matched_valid_ratings'] + matched_beers['ba_avg_matched_valid_ratings']*matched_beers['ba_nbr_matched_valid_ratings'])/matched_beers['rb_and_ba_total_valid_reviews']


# Merge to add 'country' column to matched_beers
matched_beers = matched_beers.merge(
    matched_breweries[['rb_id', 'location']].rename(columns={'location': 'country'}),
    on='id',  # Merge on the 'id' column in both DataFrames
    how='left'  # Use a left join to retain all rows in matched_beers
)

top_beers = matched_beers.sort_values(
        by=['rb_and_ba_total_valid_reviews'],ascending=False
    ).head(5)

# Print all
i = 1
for _, row in top_beers[['ba_beer_name', 'ba_brewery_name', 'ba_style', 'rb_and_ba_total_valid_reviews', 'rb_and_ba_total_matched_valid_ratings']].iterrows():
    print(f"TOP {i} : The beer '\033[1m{row['ba_beer_name']}\033[0m', brewed by '\033[1m{row['ba_brewery_name']}\033[0m' from, "
          f" is of style '{row['ba_style']}' and has been reviewed by {row['rb_and_ba_total_valid_reviews']} persons with an average grade of {row['rb_and_ba_total_matched_valid_ratings']} .")
    i+=1

KeyError: "None of [Index(['id', 'location'], dtype='object')] are in the [columns]"

In [103]:
# Assuming that 'id' is the column in both datasets that identifies each brewery
# and 'location' is the column in matched_breweries that has the country information

# Add the 'location' to each beer based on 'brewery_id'

merged_inner = pd.merge(
    left=matched_beers, 
    right=matched_breweries[['id', 'location']], 
    left_on='id', 
    right_on='id',
    how='left'
)

KeyError: "['id' 'location'] not in index"